<div class="console-page">
  <div class="page-header">
    <h1>
      <div class="console-status pull-right">
        <small>Click a dataset to explorer
        <label class="console-status label label-success">Connected</label>
        </small>
      </div>
      Orly Web UI
    </h1>
    <nav class="sample-dataset-pills">
      <ul id="datasets" class="nav nav-pills nav-justified" role="tablist">
        <li><a href="matrix" role="tab" data-toggle="tab">The Matrix</a></li>
        <li><a href="social_graph" role="tab" data-toggle="tab">Social Graph</a></li>
        <li><a href="twitter" role="tab" data-toggle="tab">Twitter</a></li>
      </ul>
    </nav>
  </div>
  <div class="control-panel-container"></div>
</div>
