<div class="orly-control-panel">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <a class="panel-control-link" href="#">
        <b>OrlyScript</b>
      </a>
      <span class="glyphicon glyphicon-chevron-up"></span>
    </div>
    <div class="panel-collapse collapse in">
      <div class="orly-editor-wrapper"></div>
    </div>
  </div>
  <div class="select-function-container"></div>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <a class="panel-control-link" href="#">
        <b>Result</b>
      </a>
      <span class="glyphicon glyphicon-chevron-up"></span>
    </div>
    <div class="panel-body"></div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <b>Log</b>
    </div>
    <div class="panel-collapse collapse"></div>
  </div>
</div>
